@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Raleway";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1012px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

.row {
  width: 100%;
  height: 100%;
}

.menu__body {
  position: relative;
  z-index: 51;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list li {
  position: relative;
  margin: 0px 64px 0px 0px;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__list li:last-child:after {
  display: none;
}

.menu__list li:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  top: 50%;
  right: -32px;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  background-color: #ffffff;
}

.menu__link {
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.icon-menu {
  position: relative;
  display: none;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 50;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu.active span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.icon-menu.active span:first-child {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

.icon-menu.active span:last-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 8px;
}

.search input {
  width: 100%;
  height: 100%;
  background-color: #E2F0FA;
  border-radius: 10px;
  font-size: 14px;
  color: rgba(0, 26, 67, 0.7);
  text-align: center;
}

.search input::-webkit-input-placeholder {
  font-size: 14px;
  text-transform: uppercase;
  color: inherit;
}

.search input::-moz-placeholder {
  font-size: 14px;
  text-transform: uppercase;
  color: inherit;
}

.search input:-ms-input-placeholder {
  font-size: 14px;
  text-transform: uppercase;
  color: inherit;
}

.search input::-ms-input-placeholder {
  font-size: 14px;
  text-transform: uppercase;
  color: inherit;
}

.search input::placeholder {
  font-size: 14px;
  text-transform: uppercase;
  color: inherit;
}

.search input::-webkit-search-cancel-button {
  margin: 0px 15px 0px 0px;
  cursor: pointer;
}

.phone {
  color: #ffffff;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

.cart {
  position: relative;
}

.cart.active .cart__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__counter {
  display: none;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, -30%, 0);
  -webkit-transform: translate3d(-50%, -30%, 0);
  -ms-transform: translate3d(-50%, -30%, 0);
  -o-transform: translate3d(-50%, -30%, 0);
  -moz-transform: translate3d(-50%, -30%, 0);
  background-color: #E2F0FA;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #000000;
}

.cart img {
  max-width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #001A43;
  z-index: 50;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.54701%;
          flex: 0 0 8.54701%;
  margin: 0px 30px 0px 0px;
  z-index: 51;
}

.header__logo img {
  max-width: 100%;
}

.header__main {
  width: 100%;
  margin: 0px 30px 0px 0px;
}

.header__search {
  position: relative;
  height: 35px;
  margin: 0px 0px 15px 0px;
  z-index: 51;
}

.header__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__phone {
  position: relative;
  z-index: 51;
}

.header__menu {
  margin: 0px 0px 0px auto;
}

.header__cart {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.12648%;
          flex: 0 0 6.12648%;
  z-index: 51;
}

@media (max-width: 1024px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 175px 0px 75px 0px;
    overflow-y: auto;
    z-index: 48;
  }

  .menu__body.active {
    top: 0px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__list li {
    text-align: center;
    margin: 0px 0px 25px 0px;
  }

  .menu__list li:last-child {
    margin: 0px 0px 0px 0px;
  }

  .menu__link {
    font-size: 24px;
    color: #001A43;
  }

  .icon-menu {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .menu__body {
    padding: 125px 0 75px 0;
  }

  .menu__list li:last-child {
    margin: 0px 0px 25px 0px;
  }

  .header {
    height: 60px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55px;
            flex: 0 0 55px;
  }

  .header__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__search {
    width: 100%;
    height: 30px;
    margin: 0 15px 0 30px;
  }

  .header__bottom {
    display: none;
  }

  .header__phone {
    display: block;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #001A43;
  }

  .header__cart {
    width: 50px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media (max-width: 479.98px) {
  .header__search {
    margin: 0px 0px 0px 0px;
  }

  .header__cart {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
}